APPLICATION_NAME=ordering-service
PORT=8000
UVICORN_WORKERS=1

ENVIRONMENT=development
LOG_LEVEL=info

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL=false
CACHE_SILENT_MODE=false

ORDER_REPOSITORY_CONNECTION=mongodb://root:admin@mongodb:27017/
ORDER_REPOSITORY_DATABASE_NAME=order_aggregates
ORDER_REPOSITORY_COLLECTION_NAME=order_aggregates

ORDER_READ_CONNECTION=mongodb://root:admin@mongodb:27017/
ORDER_READ_DATABASE_NAME=order_projections
ORDER_READ_COLLECTION_NAME=order_projections

ORDER_EVENT_STORE_CONNECTION=mongodb://root:admin@mongodb:27017/
ORDER_EVENT_STORE_DATABASE_NAME=order_events
ORDER_EVENT_STORE_COLLECTION_NAME=ordering_events

EVENT_PUBLISHER_ENABLED=false
EVENT_PUBLISHER_KAFKA_BOOTSTRAP=kafka:9092
EVENT_PUBLISHER_KAFKA_TOPIC=ordering.events
